.activityType {
    /* height: 263px;
    width: 258px; */
    /* width: 28%; */
    border-radius: 5px;
    background: #282d30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.recharts-polar-angle-axis-tick-value {
    transform: translateY(1%);
}

@media all and (max-width: 1150px) {
    .recharts-polar-angle-axis-tick-value {
        font-size: 8px;
    }
}
