.username {
    text-align: left;
}

.username__name {
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
}
.username__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 5% 0;
}
