.cards {
    display: flex;
    flex-direction: column;
    /* width: 32%; */
    width: 26%;
    height: 100%;
    justify-content: space-between;
}

.card {
    /* height: 124px;
    width: 258px; */
    border-radius: 5px;
    background: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    /* margin: auto; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 19.5%;
}

.cardIcon {
    height: 60px;
    width: 60px;
    text-align: center;
    position: relative;
    mix-blend-mode: normal;
    border-radius: 6px;
    margin: 0 24px 0 32px;
}

.card__calories--icon {
    /* background: #ff0000; */
    background: rgb(255, 0, 0, 0.07);
    /* opacity: 0.07; */
}

.card__proteins--icon {
    background: rgba(74, 184, 255, 0.1);
}

.card__carbs--icon {
    background: rgb(249, 206, 35, 0.1);
}

.card__fats--icon {
    background: rgba(253, 81, 129, 0.1);
}

.cardImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
}

.cardInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
    justify-content: space-evenly;
}

.cardData {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #282d30;
    line-height: 24px;
}

.cardDescription {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798c;
}

@media all and (max-width: 1150px) {
    .cards {
        height: 92%;
    }
}
