.score {
    /* height: 263px;
    width: 258px; */
    /* width: 28%; */
    border-radius: 5px;
    background: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    position: relative;
}

.score__title {
    /* font-weight: 500; */
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    position: absolute;
    top: 8%;
    left: 10%;
    color: #20253a;
}

.score__RadialBarChart__legend--percent {
    color: #282d30;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
}

.score__RadialBarChart__legend--txt {
    font-size: 16px;
    /* font-weight: 500; */
    font-weight: 600;
    line-height: 26px;
    color: #74798c;
}
