main {
    /* margin-left: 115px; */
    margin-left: 13%;
    padding: 5%;
    width: 87%;
}

.charts {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 615px;
    justify-content: space-between;
}

.charts__cards {
    display: flex;
    width: 65%;
}
