main {
    margin-left: 8%;
    padding: 5%;
    width: 92%;
    padding-right: 7%;
}

.charts {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 615px;
    justify-content: space-between;
}

.charts__contains {
    width: 71%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.charts__contains__cards {
    display: flex;
    height: 40%;
    justify-content: space-between;
}

.chartsCard {
    width: 30.5%;
}

@media all and (max-width: 1150px) {
    .charts__contains__cards {
        height: 180px;
        margin-top: 3em;
    }
    .charts__contains {
        justify-content: flex-start;
    }
}
