.duration {
    /* height: 263px;
    width: 258px; */
    /* width: 28%; */
    border-radius: 5px;
    background: #ff0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    position: relative;
}

.duration__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
}
/* 
.chartsCard {
    width: 20%;
    height: 30%;
} */

.duration__title {
    position: absolute;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 147px;
    text-align: left;
    left: 13.18%;
    top: 11.03%;
}

.duration__BarChart--tooltip {
    height: 25px;
    width: 40px;
    background: #fff;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 8px;
    line-height: 24px;
    text-align: center;
    color: #000;
}
